{# src: resources/templates/admin/article/create.twig #}

{% extends "layout.twig" %}

{% block content %}

<section>
    
    {{ form_start(form) }}
    
    <!-- title -->
    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    
    <!-- category -->
    <div>
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
    </div>
    
    <!-- summary -->
    <div>
        {{ form_label(form.summary) }}
        {{ form_errors(form.summary) }}
        {{ form_widget(form.summary) }}
    </div>
    
    <!-- body -->
    <div>
        {{ form_label(form.body) }}
        {{ form_errors(form.body) }}
        {{ form_widget(form.body) }}
    </div>
    
    <!-- tags -->
    <div>
        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}
    </div>
    
    <!-- published -->
    <div>
        {{ form_label(form.published) }}
        {{ form_errors(form.published) }}
        {{ form_widget(form.published) }}
    </div>
    
    <!-- slug -->
    <div>
        {{ form_label(form.slug) }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug) }}
    </div>
    
    <!-- submit -->
    <div>
        {{ form_widget(form.submit) }}
    </div>
    
    {{ form_end(form) }}
    
</section>

{% endblock %}
