{# src: resources/templates/article/read.twig #}

{% extends "layout.twig" %}

{% block content %}

<section>

    <h2>
        {{ article.title }}
    </h2>
    
    <!-- body -->
    {% autoescape false %}
    {{ article.body|markdown }}
    {% endautoescape %}
    <!-- /body -->
    
    {% if article.tags is defined %}
    <div class="article__tags">
        {% for tag in article.tags %}
        <a>{{ tag|lower }}</a>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- comments -->
    <esi:include src="{{ path('comment_index', {'id': article.id}) }}" />
    <!-- /comments -->
    
    <!-- comment form -->
    <esi:include src="{{ path('comment_create', {'id': article.id}) }}" />
    <!-- /comment form -->

</section>
{% endblock %}
